<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

    <div class="text-right" *ngFor="let chat of _cs.chats">
        <span class="badge badge-primary">{{chat.nombre}}</span>
        <p>{{chat.mensaje}}</p>
    </div>

</div>

<input type="text" name="mensaje"
       [(ngModel)]="mensaje"
       (keyup.enter)="enviar_mensaje()"
       placeholder="Enviar mensaje">
